{{#if notes}}

<div class="container">
  <div class="card-columns">

    {{#each notes}}
    <!-- Notes Cards -->
    <div class="card border-light mb-3" style="max-width: 20rem;">
      <h4 class="card-header">
        {{title}}
      </h4>

      <div class="card-body">
        <p class="card-text">{{description}}
        </p>
      </div>

      <!-- Dropdown Button -->
      <div class="float-right p-1">
        <button role="button" type="button" class="btn btn-outline-secondary rounded-circle " data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          &middot;&middot;&middot;
        </button>

        <div class="dropdown-menu ml-auto" aria-labelledby="navbarDropdown">
          <div class="dropdown-item">
            <a href="/notes/edit/{{_id}}" style="text-decoration: none;">
              <button type="submit" class="btn btn-info rounded-circle"><i class="fa fa-pencil" data-toggle="modal"
                  aria-hidden="true"></i></button></a>
            &emsp; Edit
          </div>

          <div class="dropdown-item">
            <form action="/notes/delete/{{_id}}?_method=DELETE" method="POST">
              <input type="hidden" name="_method" id="DELETE">
              <button type="submit" class="btn btn-danger rounded-circle">&times;</button>
              &emsp; Delete
            </form>
          </div>
          <div class="dropdown-divider"></div>
          <div class="dropdown-item">
            <a href="whatsapp://send?text=Note:-{{title}}: {{description}}" target="_blank"><button
                class=" btn btn-success rounded-circle"><i class="fab fa-whatsapp"></i></button></a>
            &emsp; Share
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
{{/each}}

<!-- Zero Notes Button -->
{{else}}
<div class="col-md-4 mx-auto">
  <div class="card text-center">
    <a href="/notes/add" class="btn btn-success btn-block">
      <h3>Tap here to add a new note</h3>
    </a>
  </div>
</div>
{{/if}}

<!-- Add Note Button -->
<div class="add-btn">
  <a href="/notes/add" class="float">
    <i class="fa fa-plus my-float"></i>
  </a>
  <div class="label-container">
    <div class="label-text">New Note</div>
    <i class="fa fa-play label-arrow"></i>
  </div>
</div>